<h1 id="intro">Welcome to the Outside Lands Scavenger Hunt</h1>
<br><br>

<div>
  <%= image_tag("outside_lands.jpg", height: "500", width: "100%") %>
</div>

<br><br>

<div class="center_this">
  <p class="center_this"><strong>Scavenger Hunt</strong></p>
  <br>
  <p>by Campbell Belden</p>
  </br>
  <p id="login"><%= image_tag("fblogin.png", height: "50", width: "200") %></p>
  <br>
</div>

<ul id="task_list">
  <% @lists.each do |list| %>
    <li><b>Scavenger Hunt #<%= list.id %>:</b> <a href="/list/<%= list.id %>"><%= list.author %></a></li>
  <% end %>
</ul>