<h1>Outside Lands Scavenger Hunt by <%= @list.author %></h1>

<% @tasks.each do |task| %>
	<ul>
		<li>ID: <a href="/list/<%= @list.id %>/task/<%= task.id%>"><%= task.id %></a>: <%= task.description %></li><input type="submit" value="Complete!" class="complete" id="<%= task.id %>">
	</ul>
<% end %>