<h1>Outside Lands Scavenger Hunt by<br><br> <%= @list.author %></h1><br>
<% @hashtag = @list.author.delete(" ") + "ScavengerHunt" %>
<a href="https://instagram.com/explore/tags/<%=@hashtag%>"><h3><%= image_tag("instagram-logo-transparent-png-i91.png", height: "150") %>  Click To See what other people submitted for this Scavenger Hunt!</h3></a>
<h1>Artist Clues:</h1><br><br>
<% @tasks.each do |task| %>
	<ul>
		<li><h2><%= task.description %></h2></li>
		Upload your submission to Instagram and be sure to include the hashtag: <b>#<%= @hashtag %></b>!
	</ul>
<% end %>